@mixin flex-container($direction: column, $justify: space-between) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
  }
  
  @mixin flex-item($basis: 50%, $margin: 1em) {
    flex-basis: calc($basis - #{$spacing-l});
    margin: $margin;
  }