$background-dark: #2d3548;

//Text
$text-light: rgba(255, 255, 255, 0.6);
$text-lighter: rgba(255, 255, 255, 0.9);

$text-small: 0.9rem;
$text-medium: 1rem;
$text-large: 1.2rem;
$text-xlarge: 1.5rem;
$text-xxlarge: 2rem;

//Margin et padding
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 64px;
$width-container: 80%;
