button{
    cursor: pointer;
    padding: 1em;
    font-weight: bold;
}

a{
    font-size: .7em;
    background-color: rgba(0, 0, 0, 0.650);
    color: var(--text-lighter);
    padding: var(--spacing-s);
    width: fit-content;
    transition: all .3s ease;
}

a:hover{
    box-shadow: 0 0 10px;
}