.searchBarSection {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBarContainer {
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  background-color: #009eda;
  padding: 0 $spacing-m;
  border-radius: 1em;
  height: 3rem;
  width: 60%;
}
.searchBarContainer {
  input {
    
    height: 100%;
    padding: $spacing-s;
    border-right: 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 0;
  }
  button {
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.438);
  }
}

#action__selection,
#where__selection {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 40%;
}
#action,
#where {
  height: 100%;
}

#action__suggestions,
#where__suggestions {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 3;
}

#action__suggestions div,
#where__suggestions div {
  display: flex;
  flex-direction: column;
  
}

#suggestions__text{
    width: 100%;
    height: 100%;
  padding: 1rem;
}

#action__suggestions div:hover,
#where__suggestions div:hover {
  background-color: grey;
  cursor: pointer;
}

