#wapper{
    @include flex-container(column, center);
}

#possibilities{
    @include flex-container(row, center);
    width: 100%;
}
#possibilities article{
    width: 450px;
    height: 275px;
    float: left;
    border-radius: 10px ;
}
#possibilities article:first-child{
    margin-right: 20px;
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255,255,255,0.95);
    height:100%;
    width: 50%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}

article{
    background-size: cover;
    background-position: center;
    text-align: center;
}

article h1{
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    text-align: center;
}
article h2{
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    text-align: center;
}
#possibilities p{
    text-align: center;
    margin-top: 10px;
}
.button-2{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
    text-decoration: none;
}