header {
  background-color: bisque;
  height: 350px;
  background: no-repeat
    url("https://cdn.discordapp.com/attachments/1196786804494438530/1197852768854093895/kanpo_Moutains_paysage_lake_full_hd_ba56c800-319c-4977-986a-f7582c1c65c9.png?ex=65bcc653&is=65aa5153&hm=c0688b477af709b5ef891dd6e7de73c00d22b567f6ba08c9f4fc5d34387686bf&");
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}

#navBarSection {
    height: 100%;
  display: flex;
  justify-content: space-between;
}
#navBarContainer {
  display: flex;
}
#navBarContainer {
  a {
    font-size: $text-lighter;
    cursor: pointer;
    margin: 20px 20px;
    transform-origin: center;
    height: fit-content;
    padding: $spacing-s;
    border-bottom: 1px solid black;
    transition: all .3s ease;
  }

  a:hover{
    transform: scale(1.05);
  }
}

.logoDiv{
    display: flex;
    height: 100%;
}

.logoDiv img{
    cursor: pointer;
    max-height: 100%;
    width: auto;
    overflow: hidden;
    filter: drop-shadow(0 3px 8px rgb(0, 0, 0));
    transition: all .3s ease;
}

.logoDiv:hover img{
    transform: scale(1.1);
}

